<h1>Film</h1><br>

<% @user.films.alpha.each do |film|%>
  <div>
  <%= link_to film.title, film_path(film.id) %>
  </div>
  
<%end%><br>



<p><%= button_to "Create A Film", new_film_path, :method => "get" %></p>